

<div class="d-flex" style="margin-left: 1%; margin-top: 1%;">
   <img src="assets/media/avatars/logo1.png" alt="" style="height: 60px;">

   
</div>

<div class="d-flex" style="margin-left: 1130px; margin-top: 1.5%; width: 500px;">


  <div class="menu-item me-lg-3" style="margin-right: 10px;">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/builder">
      <span class="menu-title" style="font-weight: 600; font-size: 16px;">Rent Your Property</span>
    </a>
  </div>

  <div class="menu-item menu-lg-down-accordion me-lg-1" style="margin-right: 10px;">
    <span class="menu-link py-3" >
      <span class="menu-title" style="font-weight: 600; font-size: 16px;">About Us</span>
      <span class="menu-arrow d-lg-none"></span>
    </span>

  </div>

  <div class="menu-item menu-lg-down-accordion me-lg-1" style="margin-right: 10px;">
    <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/apps')">
      <img src="./assets/media/avatars/eng.svg" alt="Icon" class="icon-before-title">
      <span class="menu-title" style="font-weight: 600; font-size: 16px;">ENG</span>
      <span class="menu-arrow d-lg-none"></span>
    </span>
    <div
      class="
        menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
        py-lg-4
        w-lg-225px
      "
      data-kt-menu-dismiss="true"
    >

    </div>
  </div>

  
</div>


